nginx:
  replicaCount: 1
  image:
    registry: docker.io
    repository: oreplay/backend
    tag: 0.4.7
  extraEnvVarsSecret: "secrets-main-app"
  extraEnvVars:
    - name: UNUSED_0
      value: "0"
    - name: FRONT_DOMAIN
      value: "https://purple-coast-02f129503.2.azurestaticapps.net"
    - name: TAG_VERSION
      value: "0.4.7"
    - name: APPLICATION_ENV
      value: "orpr"

#  customLivenessProbe:
#    httpGet:
#      path: /api/v1/ping/pong
#      port: 80
#  customReadinessProbe:
#    httpGet:
#      path: /api/v1/ping/pong
#      port: 80
  service:
    type: NodePort
    nodePorts:
      http: 30001
  resources:
    requests:
      cpu: 7m
      memory: 100M
    limits:
      cpu: 1200m
      memory: 200M
